html, body {
    margin: 0;
    padding: 0;
}

body{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
    background-color: #323232;
    color: white;
    height: 44px;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
}

li, .top-icon{
    display: inline-block;
    padding-right: 25px;
    justify-content: center;
    text-decoration: none;
}

.top-icon, .i{
    margin-left: 2em;
    font-size: 12px;
    padding-top: 0.9em;
}

.logo{
    padding-top: 0.3em;
}

a:hover, .top-icon:hover{
    list-style: none;
    color: white;
    cursor: pointer;
}

nav, li, a{
    text-decoration: none;
    color: #e4e4e7;
}

nav, li, a, .top-icon{
    position: sticky;
    color: #e4e4e7;
    line-height: 2.1;
    font-weight: 400;
    font-size: 12px;
    }

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
 }
      
.a, {
    flex-grow: 1;
}

.b, .c {
    width: 50%;
}

img {
    width: 100%;
 }

 /* Footer*/
.container-1x{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    background-color: #F5F5F7;
    color:#6e6e73;
}

.footer{
    background-color: #F5F5F7;
    color:#6e6e73;
    width: 980px;
    padding-top: 50px;
    line-height: 2em;
    font-size: 12px;
}

.footer li{
    display: list-item;
    list-style: none;
    color: #6e6e73;
}


.span{
    display: inline-block;
    width: 15%; 
}

  /* Destop View */    
@media (min-width: 500px){
         .container {
            flex-direction: row;
            flex-wrap: wrap;
            flex-grow: 1;
           
        }
        .a {
            flex-grow: 1; 
        }
        .b .c {
            flex-basis: 50%;
        }
           
    }
          
/* Mobile View */
      @media (max-width: 600px){
            .container {
              flex-direction: column;
            }
            .a, .b, .c {
                width:  100%; 
            }
        }  
      